@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"poppins",Arial, Helvetica, sans-serif;
}
header{
    background-color: #EEEEEE;
}

header a{
    text-decoration: none;
    color: #666666;
}

.header-div{
    max-width: 1536px;
    width: 90%;
    /* min-height: 8vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin: auto;
    padding: 12px 0px;
    position: relative;

}

.header-div ul{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: wrap;
    column-gap: 20px;
    /* background-color: aquamarine; */
}
.header-div ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #666666;
    font-weight: 700;
    white-space: wrap;
}
.flags{
    width: 20px;
    padding-top: 5px;
}
.icon{
    width: 15px;
    margin-right: 4px;
}

.flex-li{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    gap: 15px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border: 1.5px solid rgba(0, 0, 0, 0.227);
    color: #000000D9;

}

.button:hover{
    border:1px solid #ffffff;
    transition: all 0.4 ease-in-out;
}


nav{
    background-color: #ffffff;
    font-size: 14px;
    padding: 10px 20px;
    box-shadow: 0px 1px 4px #66666637;
    position: sticky;
    top: 0%;
    z-index: 1000;
}

nav a{
    text-decoration: none;
}
.nav-div{
    max-width: 1536px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: auto;
}
nav .logo{
    width: 200px;
}

.nav-about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
}
.nav-about-div{
    margin-right: 15px;
}


.color-text{
    animation: changeColor 1.5s infinite; /* Animation name, duration, and loop */
}

@keyframes changeColor {
    0% { color: #8dc63f; }
    50% { color: #0d6db7; }
    100% { color: #8dc63f; }
}

.about{
    position: relative;
    text-decoration: none;
    color: #666666;
}

.about::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #8dc63f;
    bottom: -5px;
    left: 50%;
    transition: width 0.2s ease, left 0.3s ease;
}

.about:hover::after {
    width: 100%;
    left: 0;
}

.button-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 325px;
}
.nav-but2{
    box-sizing: border-box !important;
    background-color: #8dc63f !important;
    border:1px solid #0d6db7 !important;
}

.nav-button{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d6db7;
    color: #ffffff;
    padding: 9px 24px;
    border-radius: 5px;
    position: relative;
    
}
.nav-button:hover{
    /* padding: 12px 29px;
    font-size: 17px; */
    transform: scale(112%);
    transition: all 0.2s ease-in-out;
}


.list-nav{
    display: none;
}


@media screen and (max-width:1199px){

    .list-nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .list-nav img{
        width: 30px;
        border: 1px solid #666666;
        border-radius: 5px;
        padding: 2px;
    }
}

@media screen and (max-width:1250px){
    
    .nav-about{
        display: none;
    }
    
}
@media screen and (max-width:1000px){
    .header-div ul{
        width: 450px;
    }
    .header-div{
        width: 95vw;
        min-height: 8vh;
    }
    

}


@media screen and (max-width:640px){
    .header-div, .button{
        display: none;
    }
    header{
        width: 100%;
        height: 25px !important;
    }
}
